.omrContainer{
    display: grid;
    height: 500px;
    width: 600px;
    margin: 0;
    border: solid #f3a880 3px;
    background-color: #fdfeed;
    
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: 50px 450px;
    grid-column-gap: 10px;
}

.template{
    display: grid;
    grid-template-columns: 610px 100px;
    grid-template-rows: 1fr;
}

div[id*="section"] {
    padding-top: 10px;
}
div[id*="section"]:not(#section5) {
    padding-left: 5px;
    border-right: solid #f3a880 3px;
}

span{
    display: inline;
}
div{
    display: inline-block;
}
.header{
    grid-column: 1/6;
    grid-row: 1/2;
    height: 50px;

    text-align: center;
    border-bottom: solid #f3a880 3px;
}
#omrTitle {
    height: 50px;
    margin: 0%;
    padding-top: 2px;
    color: #f39e71;
}
#section1{
    grid-column: 1/2;
    grid-row: 2/3;

}

#section2{
    grid-column: 2/3;
    grid-row: 2/3;

}

#section3{
    grid-column: 3/4;
    grid-row: 2/3;

}

#section4{
    grid-column: 4/5;
    grid-row: 2/3;

}

#section5{
    grid-column: 5/6;
    grid-row: 2/3;
    padding-left: 5px;

}

.circle{
    height: 15px;
    width: 10px;
    border-radius: 50%;
    display: inline;
    justify-content: center;
    align-items: center;
    margin-right: 7px;

    font-size: 11px;
    font-weight: bold;
    color: black;
    border: 1px solid black;
    
}

.circle:hover{
    background-color: black;
    cursor: pointer;
    
}

.clicked{
    background-color: black;
}

button{
    height: 30px;
    width: 100px;

    margin-bottom: 10px;
    border: outset #f3a880 3px;
    border-color: #f3a880;
    background-color: #fdfeed;
}

button:active{
    border: inset #f3a880 3px;
}