.container{
    display: grid;
    height: 500px;
    width: 600px;
    border: solid gray 10px;
    
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: 50px 440px;
    grid-gap: 10px;
}
body {
    counter-reset: number;
}

div[id*="section"]:not(#section5) {
    padding-left: 5px;
    border-right: solid gray 5px;
}

li {
    counter-increment: number;
    list-style: none; /* 기본 마커 숨김 */
}

li::before {
    content: counter(number) "."; /* 전역 카운터와 로컬 카운터를 조합하여 마커 생성 */
    margin-right: 10px; /* 마커와 텍스트 사이 간격 조절 */
  }



.header{
    grid-column: 1/6;
    grid-row: 1/2;
    height: 40px;

    text-align: center;
    border-bottom: solid gray 10px;
}
.head{
    margin-top: 10px;
    font-size: 20px;
    font-weight: 800;
}
#section1{
    grid-column: 1/2;
    grid-row: 2/3;

}

#section2{
    grid-column: 2/3;
    grid-row: 2/3;

}

#section3{
    grid-column: 3/4;
    grid-row: 2/3;

}

#section4{
    grid-column: 4/5;
    grid-row: 2/3;

}

#section5{
    grid-column: 5/6;
    grid-row: 2/3;
    padding-left: 5px;

}

.circle{
    height: 15px;
    width: 10px;
    border-radius: 50%;
    display: inline;
    justify-content: center;
    align-items: center;
    margin-right: 7px;

    font-size: 11px;
    font-weight: bold;
    color: black;
    border: 1px solid black;
    
}

.circle:hover{
    background-color: black;
    cursor: pointer;
    
}

.clicked{
    background-color: black;
}